@charset "UTF-8";
/* CSS Document */

#header {background: url(../images/horsehead1.jpg);}
#menu {background: url(../images/horsehead2.jpg);}
#page {background: url(../images/horsehead3.jpg) no-repeat;}

