.#FFFFFF {
  color: #FFFFFF;
}

.#F6F6F6 {
  color: #F6F6F6;
}

.#E9E9E9 {
  color: #E9E9E9;
}

.#CFCFCF {
  color: #CFCFCF;
}

.#CCCCCC {
  color: #CCCCCC;
}

.#666666 {
  color: #666666;
}

.#DEF1FC {
  color: #DEF1FC;
}

.#ABEBEB {
  color: #ABEBEB;
}

.#339999 {
  color: #339999;
}

.#006699 {
  color: #006699;
}

.#7FA23F {
  color: #7FA23F;
}

.#CC9900 {
  color: #CC9900;
}

.#FF3399 {
  color: #FF3399;
}

.#990000 {
  color: #990000;
}

