.#CB5821 {
  color: #CB5821;
}

.#33CCFF {
  color: #33CCFF;
}

.#3399CC {
  color: #3399CC;
}

.#999999 {
  color: #999999;
}

.#33353C {
  color: #33353C;
}

.#3D3F47 {
  color: #3D3F47;
}

.#24262D {
  color: #24262D;
}

.#000000 {
  color: #000000;
}

