.#FBF9F3 {
  color: #FBF9F3;
}

.#F5F1E1 {
  color: #F5F1E1;
}

.#F5F1E1 {
  color: #F5F1E1;
}

.#E3DFD1 {
  color: #E3DFD1;
}

.#D7D1B5 {
  color: #D7D1B5;
}

.#C9C7B9 {
  color: #C9C7B9;
}

.#ADAB9F {
  color: #ADAB9F;
}

.#704820 {
  color: #704820;
}

.#704822 {
  color: #704822;
}

.#48280A {
  color: #48280A;
}

.#F16622 {
  color: #F16622;
}

.#CB5822 {
  color: #CB5822;
}

.#CB3400 {
  color: #CB3400;
}

.#EFE9D9 {
  color: #EFE9D9;
}

