.#339999 {
  color: #339999;
}

.#00FFFF {
  color: #00FFFF;
}

.#A58427 {
  color: #A58427;
}

.#CD9900 {
  color: #CD9900;
}

.#FFCC66 {
  color: #FFCC66;
}

.#485901 {
  color: #485901;
}

.#990033 {
  color: #990033;
}

.#CC0044 {
  color: #CC0044;
}

.#993366 {
  color: #993366;
}

.#999999 {
  color: #999999;
}

.#2A2A2A {
  color: #2A2A2A;
}

.#212121 {
  color: #212121;
}

.#171717 {
  color: #171717;
}

